{% load wagtailimages_tags util_tags component_tags %}

{# This markup is loosely based on https://bootsnipp.com/snippets/featured/bootstrap-4-card #}
<div class="image-card-wrapper">
  <div class="card {{ extra_classes }}">
    {% if parent_width and not self.fixed_dimensions.use %}
      {% arbitrary_image self.image 'fill' parent_width parent_width %}
    {% else %}
      {% arbitrary_image self.image 'fill' self.fixed_dimensions.width self.fixed_dimensions.height %}
    {% endif %}
    {% if self.title or self.desc %}
      <div class="card-block">
        {% if self.title %}
          <h4 class="card-title">
            {% link_exists self.link as exists %}
            {% if exists %}
              <a href="{{ self.link }}">
            {% endif %}
            {{ self.title }}
            {% if self.link %}
              </a>
            {% endif %}
          </h4>
        {% endif %}
        {% if self.desc %}
          <div class="card-text">{{ self.desc }}</div>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
