{% load wagtailcore_tags wagtailimages_tags jetstream_tags %}

<div class="row-wrapper {{ self.style }}
  {% if self.background.background_color or self.background.background_image %} bg {% endif %}
  {% if self.background.background_color and not self.background.background_image %} bg-color-{{ self.background.background_color }}{% endif %}"
  {% if self.background.background_image %}
    {% image self.background.background_image original as img_data %}
    style="background-image: url('{{img_data.url}}');"
  {% endif %}
>
  <div class="row gutter-{{ self.gutter_width }}px">
    {% subtract_from_twelve self.left_column_width as fill_width %}
    <div class="two_col_elem col-md-{{ self.left_column_width }} grid-elem">
      {% for block in self.left_column %}
        {% if block.block_type == 'heading' %}
          <h1>{{ block.value }}</h1>
        {% else %}
          <section class="block-{{ block.block_type }}">
            {% if parent_width %}
              {% width_from_arbitrary_parent parent_width self.left_column_width self.gutter_width as my_width %}
              {% include_block block with parent_width=my_width parent_height=self.fixed_height block_id=block.id %}
            {% else %}
              {% width_from_arbitrary_parent 1000 self.left_column_width self.gutter_width as my_width %}
              {% include_block block with parent_width=my_width parent_height=self.fixed_height block_id=block.id %}
            {% endif %}
          </section>
        {% endif %}
     {% endfor %}
    </div>
    <div class="two_col_elem col-md-{{ fill_width }} grid-elem">
      {% for block in self.right_column %}
        {% if block.block_type == 'heading' %}
          <h1>{{ block.value }}</h1>
        {% else %}
          <section class="block-{{ block.block_type }}">
            {% if parent_width %}
              {% width_from_arbitrary_parent parent_width fill_width self.gutter_width as my_width %}
              {% include_block block with parent_width=my_width parent_height=self.fixed_height block_id=block.id %}
            {% else %}
              {% width_from_arbitrary_parent 1000 fill_width self.gutter_width as my_width %}
              {% include_block block with parent_width=my_width parent_height=self.fixed_height block_id=block.id %}
            {% endif %}
          </section>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  {% if self.color.background_image %}
    <div class="background-image-container">
      {% image self.background.background_image original class="background-image" %}
    </div>
  {% endif %}
</div>

<div class="clearall"></div>
