{% load wagtailimages_tags jetstream_tags %}

<div class="captioned-image">
    {% if self.fixed_dimensions.use %}
      {% arbitrary_image self.image 'fill' self.fixed_dimensions.width self.fixed_dimensions.height %}
    {% elif parent_width %}
      {% if parent_height %}
        {% arbitrary_image self.image 'fill' parent_width parent_height %}
      {% else %}
        {% arbitrary_image self.image 'width' parent_width %}
      {% endif %}
    {% else %}
      {% arbitrary_image self.image 'fill' self.fixed_dimensions.width self.fixed_dimensions.height %}
    {% endif %}
  {% if self.image.caption or self.image.photo_credit %}
    <div class='image-details'>
      <div class='image-caption'>{{ self.image.caption }}</div>
      <div class='image-credit'>{{ self.image.photo_credit }}</div>
    </div>
  {% endif %}
</div>
