{% load wagtailcore_tags wagtailimages_tags jetstream_tags mathfilters %}

{% image self.image original as img_data %}
<div class="full-width {{ extra_classes }}" style="width: {{ img_data.width }}px; margin-left: -{{ img_data.width|div:2 }}px; margin-right: -{{ img_data.width|div:2 }}px; height: {{ self.height }}px;">
  <img src="{{img_data.url}}" alt="{{ img_data.alt }}"/>
{% if self.desc or self.actions %}
  <div class="body" style="height: {{ self.height }}px;">
  <div class="inner">
    {{ self.desc|richtext }}
    {% include_block self.actions %}
  </div> 
</div>
{% endif %}
</div>
