{% load jetstream_tags wagtailcore_tags bleach_tags %}

<div id="{{ block_id }}-carousel" data-ride="carousel" data-interval="{{ self.cycle_timeout }}"
  class="carousel {{ self.cycle_effect }} hero-image-carousel"
>
  {% if self.slides|length > 1 %}
    <ol class="carousel-indicators">
      {% for slide in self.slides %}
        {% if forloop.counter0 == 0 %}
          <li data-target="#{{ block_id }}-carousel" data-slide-to="0" class="active"></li>
        {% else %}
          <li data-target="#{{ block_id }}-carousel" data-slide-to="{{ forloop.counter0 }}"></li>
        {% endif %}
      {% endfor %}
    </ol>
  {% endif %}

  <div class="carousel-inner" role="listbox">
    {% for slide in self.slides %}
      <div class="item {% if forloop.counter == 1 %}active{% endif %}">
        {% link_value slide.link as link %}
        {% if link %}
          <a class="image-link" href="{{ slide.link }}"><span></span></a>
        {% endif %}
        {% arbitrary_image slide.image 'fill' self.width self.height %}
        <div class="text-gradient">
          <div class="carousel-caption">
            <div class="hero-image-caption-title">
              {% if link %}
                <a class="title-link" href="{{ link }}">{{ slide.title | bleach }}</a>
              {% else %}
                {{ slide.title | bleach }}
              {% endif %}
            </div>
            <div class="hero-image-caption-text">{{ slide.text | bleach }}</div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <!-- These must be here for the carousel to cycle correctly. We hide them in the CSS. -->
  <a class="left carousel-control" href="#{{ block_id }}-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#{{ block_id }}-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
