{% load wagtailimages_tags jetstream_tags bleach_tags %}

<div class="image-panel-link our_clearfix {% if not self.fixed_dimensions.use and not parent_width %}top-level{% endif %}">
  {% link_url self.link as url %}
  {% if url %}
    <a class="image-link" href="{{ url }}"><span></span></a>
  {% endif %}
  <div class="image">
    {% if self.fixed_dimensions.use %}
      {% responsive_image self.image 'fill' self.fixed_dimensions.width self.fixed_dimensions.height %}
    {% else %}
      {% if parent_width %}
        {% if parent_height %}
          {% responsive_image self.image 'fill' parent_width parent_height %}
        {% else %}
          {# This really should be just scaling up to parent width but keeping the same aspect ratio. #}
          {% responsive_image self.image 'fill' parent_width parent_width %}
        {% endif %}
      {% else %}
        {# If we get to here, this ImagePanelBlock is being rendered at the top level. #}
        {# So we give them the biggest version of the image we have, and the CSS scales it to 100% width. #}
        {% image self.image original %}
      {% endif %}
    {% endif %}
    {% if self.title %}
      <div class="text-gradient">
        <div class="caption">
          <span class="text">{{ self.title | bleach }}</span>
          {% if url %}
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
</div>
