{% load jetstream_tags %}

{% comment %}
2018-07-18 rrollins/cnk:
NOTE: The {% arbitrary_image %} tags use the fixed dimension values even when fixed_dimensions.use is not True.
This is a bug that the layout actually relies on, so we're not fixing it now.
{% endcomment %}

<div class="media image-panel-listing {{ extra_classes }}">
{% if extra_classes == "left" %}
  <div class="media-left image-panel-listing__image image-panel-listing__image--left">
    {% link_url self.link as link_url %}
    {% if link_url %}
      <a href="{{ link_url }}">
        {% arbitrary_image self.image 'fill' self.fixed_dimensions.width self.fixed_dimensions.height %}
      </a>
    {% else %}
      {% arbitrary_image self.image 'fill' self.fixed_dimensions.width self.fixed_dimensions.height %}
    {% endif %}
    {% if self.display_caption %}
      {% include 'jetstream/image_details.html' with image=self.image parent_block="image-panel-listing" %}
    {% endif %}
  </div>
{% endif %}
  <div class="media-body image-panel-listing__body image-panel-listing__body--{{ extra_classes }}">
    <h4 class="media-heading image-panel-listing__heading">
      {% link_url self.link as link_url %}
      {% if link_url %}
        <a href="{{ link_url }}">{{ self.title }}</a>
      {% else %}
        {{ self.title }}
      {% endif %}
    </h4>
    {{ self.desc }}
  </div>
{% if extra_classes == "right" %}
  <div class="media-right image-panel-listing__image image-panel-listing__image--right">
    {% link_url self.link as link_url %}
    {% if link_url %}
      <a href="{{ link_url }}">
        {% arbitrary_image self.image 'fill' self.fixed_dimensions.width self.fixed_dimensions.height %}
      </a>
    {% else %}
      {% arbitrary_image self.image 'fill' self.fixed_dimensions.width self.fixed_dimensions.height %}
    {% endif %}
    {% if self.display_caption %}
      {% include 'jetstream/image_details.html' with image=self.image parent_block="image-panel-listing" %}
    {% endif %}
  </div>
{% endif %}
</div>
