{% load wagtailimages_tags jetstream_tags %}

{# This markup is loosely based on https://bootsnipp.com/snippets/featured/bootstrap-4-card #}

{% image self.image original as img_data %}
<div class="hero {{ extra_classes }}" style="background: url('{{ img_data.url }}') no-repeat center center scroll;
  {% if parent_width and not self.fixed_dimensions.use %}
    height: {{ parent_height }}px; width: 100%;
  {% else %}
    height: {{ self.fixed_dimensions.height }}px; width: {{ self.fixed_dimensions.width }}px;
  {% endif %}
">
  {% if self.title or self.desc %}
    <div class="hero-body">
      {% if self.title %}
        <h1 class="hero-title">
        {% link_value self.link as link %}
        {% if link %}
          <a href="{{ link }}">{{ self.title }}</a>
        {% else %}
          {{ self.title }}
        {% endif %}
        </h1>
      {% endif %}
      {% if self.desc %}
        <h2 class="hero-subtitle">{{ self.desc }}</h2>
      {% endif %}
    </div>
  {% endif %}
</div>
