{% load jetstream_tags %}

<div class="media {{ extra_classes }}">
{% if extra_classes == "left" %}
  <div class="media-left">
    {% link_url self.link as link_url %}
    {% if link_url %}
      <a href="{{ link_url}}">
        {% arbitrary_image self.image 'fill' self.fixed_dimensions.width self.fixed_dimensions.height %}
      </a>
    {% else %}
      {% arbitrary_image self.image 'fill' self.fixed_dimensions.width self.fixed_dimensions.height %}
    {% endif %}
    {% if self.display_caption %}
      {% include 'jetstream/image_details.html' with image=self.image %}
    {% endif %}
  </div>
{% endif %}
  <div class="media-body">
    <h4 class="media-heading">
      {% link_url self.link as link_url %}
      {% if link_url %}
        <a href="{{ link_url }}">{{ self.title }}</a>
      {% else %}
        {{ self.title }}
      {% endif %}
    </h4>
    {{ self.desc }}
  </div>
{% if extra_classes == "right" %}
  <div class="media-right">
    {% link_url self.link as link_url %}
    {% if link_url %}
      <a href="{{ link_url}}">
        {% arbitrary_image self.image 'fill' self.fixed_dimensions.width self.fixed_dimensions.height %}
      </a>
    {% else %}
      {% arbitrary_image self.image 'fill' self.fixed_dimensions.width self.fixed_dimensions.height %}
    {% endif %}
    {% if self.display_caption %}
      {% include 'jetstream/image_details.html' with image=self.image %}
    {% endif %}
  </div>
{% endif %}
</div>
