{% load wagtailimages_tags jetstream_tags %}

{# This markup is loosely based on https://bootsnipp.com/snippets/featured/bootstrap-4-card #}
<div class="image-panel-card-wrapper">
  <div class="image-panel-card {{ extra_classes }}">
    {% link_url self.link as link_url %}
    {% if link_url %}
      <a class="image-panel-card__image-link" href="{{ link_url }}">
    {% endif %}
    {% include 'jetstream/blocks/image_panel_block-image_square.html' with image=self.image %}
    {% if link_url %}
      </a>
    {% endif %}
    {% if self.display_caption %}
      {% include 'jetstream/image_details.html' with image=self.image parent_block="image-panel-card" %}
    {% endif %}
    {% if self.title or self.desc %}
      <div class="image-panel-card__block">
        {% if self.title %}
          <h4 class="image-panel-card__title">
            {% if link_url %}
             <a href="{{ link_url }}">{{ self.title }}</a>
            {% else %}
              {{ self.title }}
            {% endif %}
          </h4>
        {% endif %}
        {% if self.desc %}
          <div class="image-panel-card__text">{{ self.desc }}</div>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
