{% load wagtailimages_tags jetstream_tags mathfilters %}

{# This markup is loosely based on https://bootsnipp.com/snippets/featured/bootstrap-4-card #}

{% image self.image original as img_data %}
<div class="big-background {{ extra_classes }}"
     style="width: {{ img_data.width }}px; margin-left: -{{ img_data.width|div:2 }}px; margin-right: -{{ img_data.width|div:2 }}px;
  {% if self.fixed_dimensions %}
height: {{ self.fixed_dimensions.height }}px;
  {% endif %}
">
  <img src="{{img_data.url}}"/>
{% if self.title or self.desc %}
  <div class="body"
  {% if self.fixed_dimensions %}
    style="height: {{ self.fixed_dimensions.height }}px;"
  {% endif %}
>
  <div class="inner">
    {% if self.title %}
      <h1 class="title">
      {% link_url self.link as link_url %}
      {% if link_url %}
        <a href="{{ link_url }}">{{ self.title }}</a>
      {% else %}
        {{ self.title }}
      {% endif %}
      </h1>
    {% endif %}
    {% if self.desc %}
      <h2 class="subtitle">{{ self.desc }}</h2>
    {% endif %}
  </div> 
</div>
{% endif %}
</div>
