{% load wagtailimages_tags jetstream_tags bleach_tags %}

<div class="image-panel-link {% if not parent_width %}top-level{% endif %}">
  {% link_url self.link as url %}
  {% if url %}
    <a class="image-panel-link__image-link" href="{{ url }}">
      <span class="wrapper-expander"></span>
      <span class="sr-only">{{ self.title | default:self.image.alt | custom_bleach:'br,i,em,sub,sup' }}</span>
    </a>
  {% endif %}
  {% include 'jetstream/blocks/image_panel_block-image.html' with image=self.image %}
  {% if self.title %}
    <div class="image-panel-link__text-gradient">
      <div class="image-panel-link__title">
        <span>{{ self.title | bleach }}</span>
        {% if url %}
          <span class="icon icon-arrow-right" aria-hidden="true"></span>
        {% endif %}
      </div>
    </div>
  {% endif %}
</div>
