{% load wagtailimages_tags jetstream_tags %}

<div class="image-panel-link clearfix">
  {% link_url self.link as link_url %}
  {% if link_url %}
    <a class="image-link" href="{{ link_url }}"><span></span></a>
  {% endif %}
  <div class="image">
    {% if self.fixed_dimensions.use %}
      {% responsive_image self.image 'fill' self.fixed_dimensions.width self.fixed_dimensions.height %}
    {% else %}
      {% if parent_width %}
        {% if parent_height %}
          {% responsive_image self.image 'fill' parent_width parent_height %}
        {% else %}
          {# This really should be just scaling up to parent width but keeping the same aspect ratio. #}
          {% responsive_image self.image 'fill' parent_width parent_width %}
        {% endif %}
      {% else %}
        {% responsive_image self.image 'fill' self.fixed_dimensions.width self.fixed_dimensions.height %}
      {% endif %}
    {% endif %}
    {% if self.title %}
    <div class="text-gradient">
      <div class="image-link-caption">
        {{ self.title }}
        {% if link_url %}
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
