{% load wagtailimages_tags jetstream_tags %}

<div class="menu-listing
  {% if self.color.text_color %}text-color-{{ self.color.text_color }}{% endif %}
  {% if self.color.background_color and not self.color.background_image %}bg-color bg-color-{{ self.color.background_color }}{% endif %}
  {% if self.fixed_dimensions.use %}fixed{% endif %}
  {% if self.color.background_image %}bgimage{% endif %}
"
  {% if self.fixed_dimensions.use or self.color.background_image %}
    style="
    {% if self.fixed_dimensions.use %}
      height: {{ self.fixed_dimensions.height }}px; width: {{ self.fixed_dimensions.width }}px;
    {% endif %}
    {% if self.color.background_image %}
      {% image self.color.background_image original as img_data %}
      background-image: linear-gradient(to bottom, rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url('{{ img_data.url }}');
    {% endif %}
    "
  {% endif %}
>
{% if self.title %}
  <h2>{{ self.title }}</h2>
{% endif %}
  {% if self.show == 'children' %}
    {% page_descendants page as pages %}
  {% else %}
    {% page_siblings page as pages %}
  {% endif %}
  <div class="list-group menu-listing__list-group">
    {% for p in pages %}
      {% if p.pk == page.pk %}
        <span class="menu-listing__page-listing list-group-item active">{{ page.title }}</span>
      {% else %}
        <a href="{% relative_url p %}" class="menu-listing__page-listing list-group-item">{{ p.title }}</a>
      {% endif %}
    {% endfor %}
  </div>
</div>
