{% load wagtailimages_tags wagtailcore_tags jetstream_tags %}

<div class="related-links
  {% if self.color.text_color %}text-color-{{ self.color.text_color }}{% endif %}
  {% if self.color.background_color and not self.color.background_image %}bg-color bg-color-{{ self.color.background_color }}{% endif %}
  {% if self.fixed_dimensions.use %}fixed{% endif %}
  {% if self.color.background_image %}bgimage{% endif %}
"
  {% if self.fixed_dimensions.use %}
    style="height: {{ self.fixed_dimensions.height }}px; width: {{ self.fixed_dimensions.width }}px"
  {% endif %}
>
  {% if self.title %}
    <h2>{{ self.title }}</h2>
  {% endif %}
  <div class="list-group">
    {% for link in self.links %}
      {% include_block link %}
    {% endfor %}
    {% if self.color.background_image %}
      <div class="background-image-container">
        {% image self.color.background_image original as imgdata %}
        <img class="background-image" src="{{ imgdata.url }}" alt="{{ img_data.alt }}"/>
      </div>
    {% endif %}
  </div>
</div>
