// DimensionsOptionsBlock - Force the three settings to display inline.
div.dimensions-options {
  ul.fields {
    display: flex;
  }

  li {
    width: 33.333%;
    padding: 10px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }

    // Prevent the labels from being line-broken for no reason.
    label {
      width: 100%;
    }

    // Make the checkbox div as tall as the text inputs, which balances the whole display better.
    .boolean_field div.input {
      height: 4em;
    }
  }
}
