// Split these out so we can change them in layouts.v6.5.css
$font-serif: 'Helvetica', 'Arial', sans-serif;
$font-sans-serif: 'Helvetica', 'Arial', sans-serif;
$font-sans-serif-bold: 'Helvetica', 'Arial', sans-serif;
$font-vaud: 'Helvetica', 'Arial', sans-serif;

@import "common.scss";