/*************** Column Layouts ******************/
.row.gutter-0px {
  margin-left: 0px;
  margin-right: 0px;
}
.row.gutter-0px .col-lg-1,
.row.gutter-0px .col-lg-2,
.row.gutter-0px .col-lg-3,
.row.gutter-0px .col-lg-4,
.row.gutter-0px .col-lg-5,
.row.gutter-0px .col-lg-6,
.row.gutter-0px .col-lg-7,
.row.gutter-0px .col-lg-8,
.row.gutter-0px .col-lg-9,
.row.gutter-0px .col-lg-10,
.row.gutter-0px .col-lg-11,
.row.gutter-0px .col-lg-12,
.row.gutter-0px .col-md-1,
.row.gutter-0px .col-md-2,
.row.gutter-0px .col-md-3,
.row.gutter-0px .col-md-4,
.row.gutter-0px .col-md-5,
.row.gutter-0px .col-md-6,
.row.gutter-0px .col-md-7,
.row.gutter-0px .col-md-8,
.row.gutter-0px .col-md-9,
.row.gutter-0px .col-md-10,
.row.gutter-0px .col-md-11,
.row.gutter-0px .col-md-12,
.row.gutter-0px .col-sm-1,
.row.gutter-0px .col-sm-2,
.row.gutter-0px .col-sm-3,
.row.gutter-0px .col-sm-4,
.row.gutter-0px .col-sm-5,
.row.gutter-0px .col-sm-6,
.row.gutter-0px .col-sm-7,
.row.gutter-0px .col-sm-8,
.row.gutter-0px .col-sm-9,
.row.gutter-0px .col-sm-10,
.row.gutter-0px .col-sm-11,
.row.gutter-0px .col-sm-12,
.row.gutter-0px .col-xs-1,
.row.gutter-0px .col-xs-2,
.row.gutter-0px .col-xs-3,
.row.gutter-0px .col-xs-4,
.row.gutter-0px .col-xs-5,
.row.gutter-0px .col-xs-6,
.row.gutter-0px .col-xs-7,
.row.gutter-0px .col-xs-8,
.row.gutter-0px .col-xs-9,
.row.gutter-0px .col-xs-10,
.row.gutter-0px .col-xs-11,
.row.gutter-0px .col-xs-12 {
  padding-left: 0px;
  padding-right: 0px;
}
.row.gutter-12px {
  margin-left: -6px;
  margin-right: -6px;
}
.row.gutter-12px .col-lg-1,
.row.gutter-12px .col-lg-2,
.row.gutter-12px .col-lg-3,
.row.gutter-12px .col-lg-4,
.row.gutter-12px .col-lg-5,
.row.gutter-12px .col-lg-6,
.row.gutter-12px .col-lg-7,
.row.gutter-12px .col-lg-8,
.row.gutter-12px .col-lg-9,
.row.gutter-12px .col-lg-10,
.row.gutter-12px .col-lg-11,
.row.gutter-12px .col-lg-12,
.row.gutter-12px .col-md-1,
.row.gutter-12px .col-md-2,
.row.gutter-12px .col-md-3,
.row.gutter-12px .col-md-4,
.row.gutter-12px .col-md-5,
.row.gutter-12px .col-md-6,
.row.gutter-12px .col-md-7,
.row.gutter-12px .col-md-8,
.row.gutter-12px .col-md-9,
.row.gutter-12px .col-md-10,
.row.gutter-12px .col-md-11,
.row.gutter-12px .col-md-12,
.row.gutter-12px .col-sm-1,
.row.gutter-12px .col-sm-2,
.row.gutter-12px .col-sm-3,
.row.gutter-12px .col-sm-4,
.row.gutter-12px .col-sm-5,
.row.gutter-12px .col-sm-6,
.row.gutter-12px .col-sm-7,
.row.gutter-12px .col-sm-8,
.row.gutter-12px .col-sm-9,
.row.gutter-12px .col-sm-10,
.row.gutter-12px .col-sm-11,
.row.gutter-12px .col-sm-12,
.row.gutter-12px .col-xs-1,
.row.gutter-12px .col-xs-2,
.row.gutter-12px .col-xs-3,
.row.gutter-12px .col-xs-4,
.row.gutter-12px .col-xs-5,
.row.gutter-12px .col-xs-6,
.row.gutter-12px .col-xs-7,
.row.gutter-12px .col-xs-8,
.row.gutter-12px .col-xs-9,
.row.gutter-12px .col-xs-10,
.row.gutter-12px .col-xs-11,
.row.gutter-12px .col-xs-12 {
  padding-left: 6px;
  padding-right: 6px;
}
.row.gutter-20px {
  margin-left: -10px;
  margin-right: -10px;
}
.row.gutter-20px .col-lg-1,
.row.gutter-20px .col-lg-2,
.row.gutter-20px .col-lg-3,
.row.gutter-20px .col-lg-4,
.row.gutter-20px .col-lg-5,
.row.gutter-20px .col-lg-6,
.row.gutter-20px .col-lg-7,
.row.gutter-20px .col-lg-8,
.row.gutter-20px .col-lg-9,
.row.gutter-20px .col-lg-10,
.row.gutter-20px .col-lg-11,
.row.gutter-20px .col-lg-12,
.row.gutter-20px .col-md-1,
.row.gutter-20px .col-md-2,
.row.gutter-20px .col-md-3,
.row.gutter-20px .col-md-4,
.row.gutter-20px .col-md-5,
.row.gutter-20px .col-md-6,
.row.gutter-20px .col-md-7,
.row.gutter-20px .col-md-8,
.row.gutter-20px .col-md-9,
.row.gutter-20px .col-md-10,
.row.gutter-20px .col-md-11,
.row.gutter-20px .col-md-12,
.row.gutter-20px .col-sm-1,
.row.gutter-20px .col-sm-2,
.row.gutter-20px .col-sm-3,
.row.gutter-20px .col-sm-4,
.row.gutter-20px .col-sm-5,
.row.gutter-20px .col-sm-6,
.row.gutter-20px .col-sm-7,
.row.gutter-20px .col-sm-8,
.row.gutter-20px .col-sm-9,
.row.gutter-20px .col-sm-10,
.row.gutter-20px .col-sm-11,
.row.gutter-20px .col-sm-12,
.row.gutter-20px .col-xs-1,
.row.gutter-20px .col-xs-2,
.row.gutter-20px .col-xs-3,
.row.gutter-20px .col-xs-4,
.row.gutter-20px .col-xs-5,
.row.gutter-20px .col-xs-6,
.row.gutter-20px .col-xs-7,
.row.gutter-20px .col-xs-8,
.row.gutter-20px .col-xs-9,
.row.gutter-20px .col-xs-10,
.row.gutter-20px .col-xs-11,
.row.gutter-20px .col-xs-12 {
  padding-left: 10px;
  padding-right: 10px;
}
.row.gutter-30px {
  margin-left: -15px;
  margin-right: -15px;
}
.row.gutter-30px .col-lg-1,
.row.gutter-30px .col-lg-2,
.row.gutter-30px .col-lg-3,
.row.gutter-30px .col-lg-4,
.row.gutter-30px .col-lg-5,
.row.gutter-30px .col-lg-6,
.row.gutter-30px .col-lg-7,
.row.gutter-30px .col-lg-8,
.row.gutter-30px .col-lg-9,
.row.gutter-30px .col-lg-10,
.row.gutter-30px .col-lg-11,
.row.gutter-30px .col-lg-12,
.row.gutter-30px .col-md-1,
.row.gutter-30px .col-md-2,
.row.gutter-30px .col-md-3,
.row.gutter-30px .col-md-4,
.row.gutter-30px .col-md-5,
.row.gutter-30px .col-md-6,
.row.gutter-30px .col-md-7,
.row.gutter-30px .col-md-8,
.row.gutter-30px .col-md-9,
.row.gutter-30px .col-md-10,
.row.gutter-30px .col-md-11,
.row.gutter-30px .col-md-12,
.row.gutter-30px .col-sm-1,
.row.gutter-30px .col-sm-2,
.row.gutter-30px .col-sm-3,
.row.gutter-30px .col-sm-4,
.row.gutter-30px .col-sm-5,
.row.gutter-30px .col-sm-6,
.row.gutter-30px .col-sm-7,
.row.gutter-30px .col-sm-8,
.row.gutter-30px .col-sm-9,
.row.gutter-30px .col-sm-10,
.row.gutter-30px .col-sm-11,
.row.gutter-30px .col-sm-12,
.row.gutter-30px .col-xs-1,
.row.gutter-30px .col-xs-2,
.row.gutter-30px .col-xs-3,
.row.gutter-30px .col-xs-4,
.row.gutter-30px .col-xs-5,
.row.gutter-30px .col-xs-6,
.row.gutter-30px .col-xs-7,
.row.gutter-30px .col-xs-8,
.row.gutter-30px .col-xs-9,
.row.gutter-30px .col-xs-10,
.row.gutter-30px .col-xs-11,
.row.gutter-30px .col-xs-12 {
  padding-left: 15px;
  padding-right: 15px;
}
.row.gutter-40px {
  margin-left: -20px;
  margin-right: -20px;
}
.row.gutter-40px .col-lg-1,
.row.gutter-40px .col-lg-2,
.row.gutter-40px .col-lg-3,
.row.gutter-40px .col-lg-4,
.row.gutter-40px .col-lg-5,
.row.gutter-40px .col-lg-6,
.row.gutter-40px .col-lg-7,
.row.gutter-40px .col-lg-8,
.row.gutter-40px .col-lg-9,
.row.gutter-40px .col-lg-10,
.row.gutter-40px .col-lg-11,
.row.gutter-40px .col-lg-12,
.row.gutter-40px .col-md-1,
.row.gutter-40px .col-md-2,
.row.gutter-40px .col-md-3,
.row.gutter-40px .col-md-4,
.row.gutter-40px .col-md-5,
.row.gutter-40px .col-md-6,
.row.gutter-40px .col-md-7,
.row.gutter-40px .col-md-8,
.row.gutter-40px .col-md-9,
.row.gutter-40px .col-md-10,
.row.gutter-40px .col-md-11,
.row.gutter-40px .col-md-12,
.row.gutter-40px .col-sm-1,
.row.gutter-40px .col-sm-2,
.row.gutter-40px .col-sm-3,
.row.gutter-40px .col-sm-4,
.row.gutter-40px .col-sm-5,
.row.gutter-40px .col-sm-6,
.row.gutter-40px .col-sm-7,
.row.gutter-40px .col-sm-8,
.row.gutter-40px .col-sm-9,
.row.gutter-40px .col-sm-10,
.row.gutter-40px .col-sm-11,
.row.gutter-40px .col-sm-12,
.row.gutter-40px .col-xs-1,
.row.gutter-40px .col-xs-2,
.row.gutter-40px .col-xs-3,
.row.gutter-40px .col-xs-4,
.row.gutter-40px .col-xs-5,
.row.gutter-40px .col-xs-6,
.row.gutter-40px .col-xs-7,
.row.gutter-40px .col-xs-8,
.row.gutter-40px .col-xs-9,
.row.gutter-40px .col-xs-10,
.row.gutter-40px .col-xs-11,
.row.gutter-40px .col-xs-12 {
  padding-left: 20px;
  padding-right: 20px;
}
.grid-elem {
  height: 100%;
}
.grid-elem > section {
  margin-top: 10px;
}
.grid-elem > section:first-child {
  margin-top: 0;
}
.two_col_elem {
  overflow: hidden;
}
.three_col_elem {
  overflow: hidden;
}
.four_col_elem {
  overflow: hidden;
}
.clearall {
  clear: both;
}
.row {
  margin-top: 12px;
}
.row > .grid-elem > section > .row:first-child {
  margin-top: 0;
}
@media (max-width: 768px) {
  .row,
  .grid-elem {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media (min-device-width: 480px) and (max-device-width: 768px) {
  .block-two_column_layout .col-md-1,
  .block-two_column_layout .col-md-2,
  .block-two_column_layout .col-md-3,
  .block-two_column_layout .col-md-4,
  .block-two_column_layout .col-md-5,
  .block-two_column_layout .col-md-6,
  .block-two_column_layout .col-md-7,
  .block-two_column_layout .col-md-8,
  .block-two_column_layout .col-md-9,
  .block-two_column_layout .col-md-10,
  .block-two_column_layout .col-md-11,
  .block-two_column_layout .col-md-12 {
    float: left;
  }
  .block-two_column_layout .col-md-1,
  .block-two_column_layout .col-md-2 {
    width: 16.666%;
  }
  .block-two_column_layout .col-md-3 {
    width: 25%;
  }
  .block-two_column_layout .col-md-4 {
    width: 33%;
  }
  .block-two_column_layout .col-md-5 {
    width: 41.6666%;
  }
  .block-two_column_layout .col-md-6 {
    width: 50%;
  }
  .block-two_column_layout .col-md-7 {
    width: 58.3333%;
  }
  .block-two_column_layout .col-md-8 {
    width: 66.6666%;
  }
  .block-two_column_layout .col-md-9 {
    width: 75%;
  }
  .block-three_column_layout .col-md-1,
  .block-three_column_layout .col-md-2,
  .block-three_column_layout .col-md-3,
  .block-three_column_layout .col-md-4,
  .block-three_column_layout .col-md-5,
  .block-three_column_layout .col-md-6,
  .block-three_column_layout .col-md-7,
  .block-three_column_layout .col-md-8,
  .block-three_column_layout .col-md-9,
  .block-three_column_layout .col-md-10,
  .block-three_column_layout .col-md-11,
  .block-three_column_layout .col-md-12 {
    width: 33%;
    float: left;
  }
  .block-three_column_layout .col-md-1 img,
  .block-three_column_layout .col-md-2 img,
  .block-three_column_layout .col-md-3 img,
  .block-three_column_layout .col-md-4 img,
  .block-three_column_layout .col-md-5 img,
  .block-three_column_layout .col-md-6 img,
  .block-three_column_layout .col-md-7 img,
  .block-three_column_layout .col-md-8 img,
  .block-three_column_layout .col-md-9 img,
  .block-three_column_layout .col-md-10 img,
  .block-three_column_layout .col-md-11 img,
  .block-three_column_layout .col-md-12 img {
    width: auto;
  }
  .block-four_column_layout .col-md-1,
  .block-four_column_layout .col-md-2,
  .block-four_column_layout .col-md-3,
  .block-four_column_layout .col-md-4,
  .block-four_column_layout .col-md-5,
  .block-four_column_layout .col-md-6,
  .block-four_column_layout .col-md-7,
  .block-four_column_layout .col-md-8,
  .block-four_column_layout .col-md-9,
  .block-four_column_layout .col-md-10,
  .block-four_column_layout .col-md-11,
  .block-four_column_layout .col-md-12 {
    width: 25%;
    float: left;
  }
}
.sidebar-layout .sidebar {
  height: auto;
  margin-left: 25px;
  margin-bottom: 40px;
}
.sidebar-layout .rich-text {
  width: 800px;
}
.sidebar-layout section {
  margin-bottom: 10px;
}
.sidebar-layout section:last-child {
  margin-bottom: 0;
}
@media (min-device-width: 480px) and (max-device-width: 768px) {
  .sidebar-layout > .rich-text {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2em;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .sidebar-layout > .rich-text {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
  }
}
/*************** Spacer Block ******************/
.spacer-1 {
  height: 25px;
}
.spacer-2 {
  height: 50px;
}
.spacer-3 {
  height: 75px;
}
.spacer-4 {
  height: 100px;
}
.spacer-5 {
  height: 125px;
}
.spacer-6 {
  height: 150px;
}
.spacer-7 {
  height: 175px;
}
.spacer-8 {
  height: 200px;
}
.spacer-9 {
  height: 225px;
}
.spacer-10 {
  height: 250px;
}
@media (max-width: 500px) {
  .spacer-1,
  .spacer-2,
  .spacer-3,
  .spacer-4,
  .spacer-5,
  .spacer-6,
  .spacer-7,
  .spacer-8,
  .spacer-9,
  .spacer-10 {
    height: 0px;
  }
}
/**************** Captioned Image Blocks ***************/
.captioned-image .image-details {
  line-height: 1.5;
  margin-top: 10px;
}
.captioned-image .image-details .image-caption {
  font-size: 12px;
}
.captioned-image .image-details .image-credit {
  font-size: 11px;
  font-style: italic;
}
@media (min-device-width: 480px) and (max-device-width: 768px) {
  .captioned-image .image-details {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 500px) {
  .captioned-image {
    margin-bottom: 2em;
  }
  .captioned-image .image-details {
    padding-left: 10px;
    padding-right: 10px;
  }
}
/**************** Captioned Image Carousel Blocks ***************/
.carousel.slide.captioned-slider .carousel-control {
  display: none;
}
.carousel.slide.captioned-slider .carousel-indicators {
  bottom: 40px;
  top: auto;
  left: 0;
  width: auto;
  margin-left: auto;
}
.carousel.slide.captioned-slider .carousel-indicators li {
  text-indent: 0;
  border-radius: 0;
  border: none;
  width: 75px;
  height: 75px;
}
.carousel.slide.captioned-slider .carousel-indicators-container {
  width: 100%;
  height: 150px;
  position: relative;
}
.carousel.slide.captioned-slider img {
  width: 100%;
}
.carousel.slide.captioned-slider .image-details {
  line-height: 1.5;
}
.carousel.slide.captioned-slider .image-details .image-caption {
  font-size: 12px;
}
.carousel.slide.captioned-slider .image-details .image-credit {
  font-size: 11px;
  font-style: italic;
}
/**************** Image Carousel Blocks ***************/
.image-carousel {
  width: 100%;
  height: 100%;
  opacity: 1;
}
.image-carousel:hover .carousel-control {
  display: block;
}
.image-carousel .item {
  transition: opacity ease-out 0.7s;
  left: 0;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
}
.image-carousel .item:first-child {
  top: auto;
  opacity: 1;
  position: relative;
}
.image-carousel .item.active {
  opacity: 1;
}
.image-carousel .carousel-inner {
  height: 100%;
}
.image-carousel .carousel-inner .item > img {
  height: inherit;
}
.image-carousel .carousel-caption {
  left: auto;
  width: auto;
  margin-right: 20px;
  right: 3%;
  bottom: 3%;
  top: auto;
  font-family: VaudMedium, sans-serif;
  font-size: 16px;
}
.image-carousel .carousel-indicators {
  display: none;
}
.image-carousel .image-carousel-header-banner {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
  width: 100%;
  height: 42px;
}
.image-carousel .image-carousel-header {
  position: absolute;
  margin: 10px 0 10px 25px;
  font-family: Vaud, sans-serif;
  color: #ffffff;
  font-weight: normal;
  font-size: 1.17em;
}
.image-carousel .image-carousel-caption-text a,
.image-carousel .image-carousel-caption-text a:visited {
  color: inherit;
}
.image-carousel .image-carousel-caption-text a:hover,
.image-carousel .image-carousel-caption-text a:visited:hover {
  text-decoration: none;
}
@media (min-device-width: 480px) and (max-device-width: 768px) {
  .block-ImageCarouselBlock img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 500px) {
  .block-ImageCarouselBlock img {
    width: 100%;
    height: auto;
  }
}
.hero-image-carousel {
  overflow: hidden;
  position: relative;
}
.hero-image-carousel .carousel-inner {
  height: 100%;
}
.hero-image-carousel .carousel-inner .item {
  height: 100%;
}
.hero-image-carousel .carousel-inner img {
  width: 100%;
}
.hero-image-carousel .carousel-inner > .item > img {
  height: inherit;
}
.hero-image-carousel .carousel-caption {
  position: static;
  text-align: left;
  padding: 0 10px;
  text-shadow: none;
}
.hero-image-carousel .carousel-indicators {
  left: auto;
  width: auto;
  right: 3%;
  bottom: 3%;
}
.hero-image-carousel .carousel-control {
  display: none;
}
.hero-image-carousel .hero-image-caption-title {
  font-size: 1.71428571em;
  font-weight: bold;
  color: #ecaa00;
  line-height: normal;
}
.hero-image-carousel .hero-image-caption-title a,
.hero-image-carousel .hero-image-caption-title a:visited {
  color: inherit;
  text-decoration: none;
}
.hero-image-carousel .hero-image-caption-text {
  font-family: Vaud, sans-serif;
  color: #333333;
}
@media (min-width: 768px) {
  .hero-image-carousel .carousel-caption {
    position: absolute;
    left: 30%;
    right: auto;
    bottom: auto;
    top: 25%;
  }
  .hero-image-carousel .text-gradient {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0.6));
    width: 75%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
  .hero-image-carousel .hero-image-caption-title {
    font-size: 2.5em;
    font-weight: bold;
    color: #ecaa00;
    line-height: normal;
  }
  .hero-image-carousel .hero-image-caption-title a,
  .hero-image-carousel .hero-image-caption-title a:visited {
    color: inherit;
    text-decoration: none;
  }
  .hero-image-carousel .hero-image-caption-text {
    font-family: Vaud, sans-serif;
    font-weight: bold;
    padding-right: 3em;
    color: white;
  }
}
/*************** Image Link Blocks ******************/
.plain-image-block-link {
  position: relative;
  margin-right: -15px;
  width: auto;
  height: auto;
  display: inline-block;
}
.plain-image-block-link a span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 11;
}
.plain-image-block-link .image {
  display: block;
  position: relative;
  z-index: -10;
}
.plain-image-block-link .image .text-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  font-family: VaudMedium, sans-serif;
  font-size: 16px;
}
.plain-image-block-link .image .text-gradient .image-link-caption {
  position: absolute;
  bottom: 10px;
  right: 15px;
  text-align: right;
  color: white;
}
.plain-image-block-link .image .text-gradient .image-link-caption .glyphicon.glyphicon-chevron-right {
  color: #ff6e1e;
}
@media (min-device-width: 480px) and (max-device-width: 768px) {
  .block-ImageLinkBlock .plain-image-block-link {
    width: 100%;
  }
  .block-ImageLinkBlock img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 500px) {
  .block-ImageLinkBlock .plain-image-block-link {
    width: 100%;
  }
  .block-ImageLinkBlock img {
    width: 100%;
    height: auto;
  }
}
/**************** Image Panel Blocks ***************/
@media (max-width: 500px) {
  .block-ImagePanelBlock h1 {
    font-size: 3em;
  }
}
.card {
  font-size: 1em;
  overflow: hidden;
  padding: 0;
  border: none;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  border-bottom: 1px solid rgba(34, 36, 38, 0.1);
}
.card > img {
  display: block;
  width: 100%;
  height: auto;
}
.card-block {
  font-size: 1em;
  margin: 0;
  padding: 1em;
  border: none;
}
.card-title {
  font-size: 1.28571429em;
  font-weight: 700;
  line-height: 1.2857em;
  color: #616265;
}
.card-title a {
  color: #616265;
}
.card-text {
  margin-top: .5em;
  color: rgba(0, 0, 0, 0.68);
}
.block-ImagePanelBlock .media {
  border: 1px solid rgba(34, 36, 38, 0.1);
}
.block-ImagePanelBlock .media-body {
  padding-left: 25px;
  padding-right: 10px;
  padding-top: 2%;
  line-height: 20px;
}
.block-ImagePanelBlock .media-body h4 {
  margin-top: 10px;
  font-family: KievitSlabMedium, Times, serif;
}
@media (min-device-width: 480px) and (max-device-width: 768px) {
  .block-ImagePanelBlock .card img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 500px) {
  .block-ImagePanelBlock .media-body {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 2em;
  }
  .block-ImagePanelBlock .media-right,
  .block-ImagePanelBlock .media-left {
    display: block;
    padding: 0;
  }
  .block-ImagePanelBlock .media-right img,
  .block-ImagePanelBlock .media-left img {
    width: 100%;
    height: auto;
  }
  .block-ImagePanelBlock .media-left {
    margin-bottom: 1.5em;
  }
}
.block-ImagePanelBlock .hero {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.block-ImagePanelBlock .hero-body {
  color: white;
  width: 60%;
  margin: 0 auto;
}
.block-ImagePanelBlock h1 {
  font-family: VaudMedium, sans-serif;
  font-size: 4em;
}
.block-ImagePanelBlock h2 {
  font-family: Vaud, sans-serif;
  font-size: 1.5em;
}
@media (max-width: 500px) {
  .block-ImagePanelBlock .hero-body {
    width: 90%;
  }
}
.block-ImageLinkBlock {
  overflow: hidden;
}
.image-block-link {
  position: relative;
}
.image-block-link:before,
.image-block-link:after {
  content: " ";
  display: table;
}
.image-block-link:after {
  clear: both;
}
.image-block-link .entry {
  float: left;
  position: relative;
  overflow: hidden;
}
.image-block-link .image-link {
  display: block;
}
.image-block-link .image-link a span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 11;
  cursor: pointer;
}
.image-block-link .image-link img {
  display: block;
  width: 100%;
  height: auto;
}
.image-block-link .text {
  width: 100%;
  line-height: 14px;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.65);
  color: #FFFFFF;
  top: 70%;
  display: block;
}
.image-block-link .title {
  position: relative;
  margin: 0;
  height: 30%;
  font-family: KievitSlabMedium, Times, serif;
  font-weight: normal;
  font-size: 1.14285714em;
  display: block;
}
.image-block-link .vertically-centered {
  padding: 0 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.image-block-link .blurb {
  padding: 0 15px;
  font-size: 0.92857143em;
  display: block;
}
.image-block-link .read-more-link {
  padding: 0 15px;
  font-size: 0.92857143em;
  cursor: pointer;
}
.image-block-link .read-more-link:hover {
  color: #ff6e1e;
}
/*** Responsive Rules ***/
@media (min-device-width: 480px) and (max-device-width: 768px) {
  .block-ImagePanelBlock .image-block-link .entry {
    float: none;
  }
}
@media (max-width: 500px) {
  .block-ImagePanelBlock .image-block-link .entry {
    float: none;
  }
  .block-ImagePanelBlock .image-block-link .entry .text {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    position: static;
    line-height: 24px;
    color: black;
    background-color: transparent;
    height: auto;
  }
  .block-ImagePanelBlock .image-block-link .entry .text .title {
    font-size: 1.4em;
    line-height: 30px;
    position: static;
    height: auto;
    display: inline;
  }
  .block-ImagePanelBlock .image-block-link .entry .text .title .vertically-centered {
    position: static;
    transform: none;
    -webkit-transform: none;
  }
}
/**************** Menu Listing Blocks ***************/
.menu-listing.bg-color-white {
  box-shadow: none;
  border: none;
  background-color: #ffffff;
}
.menu-listing.bg-color-white h2 {
  color: #ffffff;
  background-color: #e6e6e6;
}
.menu-listing.bg-color-white .list-group-item {
  border-bottom: 1px solid #ffffff;
}
.menu-listing.bg-color-white .list-group-item:hover {
  background-color: #e6e6e6;
}
.menu-listing.bg-color-white .list-group-item.active {
  color: #b3b3b3;
  background-color: #f2f2f2;
}
.menu-listing.bg-color-white h2 {
  color: #000000;
}
.menu-listing.bg-color-black {
  box-shadow: none;
  border: none;
  background-color: #000000;
}
.menu-listing.bg-color-black h2 {
  color: #000000;
  background-color: #1a1a1a;
}
.menu-listing.bg-color-black .list-group-item {
  border-bottom: 1px solid #0d0d0d;
}
.menu-listing.bg-color-black .list-group-item:hover {
  background-color: #1a1a1a;
}
.menu-listing.bg-color-black .list-group-item.active {
  color: #000000;
  background-color: #0d0d0d;
}
.menu-listing.bg-color-orange {
  box-shadow: none;
  border: none;
  background-color: #ff6e1e;
}
.menu-listing.bg-color-orange h2 {
  color: #b74100;
  background-color: #ff8f51;
}
.menu-listing.bg-color-orange .list-group-item {
  border-bottom: 1px solid #ff7e38;
}
.menu-listing.bg-color-orange .list-group-item:hover {
  background-color: #ff8f51;
}
.menu-listing.bg-color-orange .list-group-item.active {
  color: #ea5300;
  background-color: #ff7e38;
}
.menu-listing.bg-color-ltgray {
  box-shadow: none;
  border: none;
  background-color: #c8c8c8;
}
.menu-listing.bg-color-ltgray h2 {
  color: #fbfbfb;
  background-color: #afafaf;
}
.menu-listing.bg-color-ltgray .list-group-item {
  border-bottom: 1px solid #d5d5d5;
}
.menu-listing.bg-color-ltgray .list-group-item:hover {
  background-color: #afafaf;
}
.menu-listing.bg-color-ltgray .list-group-item.active {
  color: #7c7c7c;
  background-color: #bbbbbb;
}
.menu-listing.bg-color-midgray {
  box-shadow: none;
  border: none;
  background-color: #afafaf;
}
.menu-listing.bg-color-midgray h2 {
  color: #e2e2e2;
  background-color: #969696;
}
.menu-listing.bg-color-midgray .list-group-item {
  border-bottom: 1px solid #bcbcbc;
}
.menu-listing.bg-color-midgray .list-group-item:hover {
  background-color: #969696;
}
.menu-listing.bg-color-midgray .list-group-item.active {
  color: #636363;
  background-color: #a2a2a2;
}
.menu-listing.bg-color-darkergray {
  box-shadow: none;
  border: none;
  background-color: #696b73;
}
.menu-listing.bg-color-darkergray h2 {
  color: #38393e;
  background-color: #82848d;
}
.menu-listing.bg-color-darkergray .list-group-item {
  border-bottom: 1px solid #757780;
}
.menu-listing.bg-color-darkergray .list-group-item:hover {
  background-color: #82848d;
}
.menu-listing.bg-color-darkergray .list-group-item.active {
  color: #515258;
  background-color: #757780;
}
.menu-listing.bg-color-dkgray {
  box-shadow: none;
  border: none;
  background-color: #616265;
}
.menu-listing.bg-color-dkgray h2 {
  color: #2f3031;
  background-color: #7a7b7f;
}
.menu-listing.bg-color-dkgray .list-group-item {
  border-bottom: 1px solid #6d6f72;
}
.menu-listing.bg-color-dkgray .list-group-item:hover {
  background-color: #7a7b7f;
}
.menu-listing.bg-color-dkgray .list-group-item.active {
  color: #48494b;
  background-color: #6d6f72;
}
.menu-listing.bg-color-olivegreen {
  box-shadow: none;
  border: none;
  background-color: #a9b734;
}
.menu-listing.bg-color-olivegreen h2 {
  color: #ced978;
  background-color: #848f29;
}
.menu-listing.bg-color-olivegreen .list-group-item {
  border-bottom: 1px solid #b9c83d;
}
.menu-listing.bg-color-olivegreen .list-group-item:hover {
  background-color: #848f29;
}
.menu-listing.bg-color-olivegreen .list-group-item.active {
  color: #3b4012;
  background-color: #97a32e;
}
.menu-listing.bg-color-purple {
  box-shadow: none;
  border: none;
  background-color: #95348d;
}
.menu-listing.bg-color-purple h2 {
  color: #491a45;
  background-color: #bb41b1;
}
.menu-listing.bg-color-purple .list-group-item {
  border-bottom: 1px solid #a83b9f;
}
.menu-listing.bg-color-purple .list-group-item:hover {
  background-color: #bb41b1;
}
.menu-listing.bg-color-purple .list-group-item.active {
  color: #6f2769;
  background-color: #a83b9f;
}
.menu-listing.bg-color-purple h2 {
  color: #ffffff;
}
.menu-listing.bg-color-darkteal {
  box-shadow: none;
  border: none;
  background-color: #005e5c;
}
.menu-listing.bg-color-darkteal h2 {
  color: #000000;
  background-color: #00918e;
}
.menu-listing.bg-color-darkteal .list-group-item {
  border-bottom: 1px solid #007875;
}
.menu-listing.bg-color-darkteal .list-group-item:hover {
  background-color: #00918e;
}
.menu-listing.bg-color-darkteal .list-group-item.active {
  color: #002b2a;
  background-color: #007875;
}
/**************** Text block general settings ***************/
.listing-background-image {
  position: absolute;
  left: 0;
  top: 0;
  height: auto;
  width: 100%;
  z-index: -100;
}
.bg-color-white {
  background-color: #ffffff;
}
.bg-color-black {
  background-color: #000000;
}
.bg-color-orange {
  background-color: #ff6e1e;
}
.bg-color-ltgray {
  background-color: #c8c8c8;
}
.bg-color-midgray {
  background-color: #afafaf;
}
.bg-color-darkergray {
  background-color: #696b73;
}
.bg-color-dkgray {
  background-color: #616265;
}
.bg-color-olivegreen {
  background-color: #a9b734;
}
.bg-color-purple {
  background-color: #95348d;
}
.bg-color-darkteal {
  background-color: #005e5c;
}
.text-color-white {
  color: #ffffff;
}
.text-color-dkgray {
  color: #616265;
}
.text-color-black {
  color: #000000;
}
/**************** Section Title Blocks ***************/
h2.section_divider {
  height: 50px;
  background-color: #e9e7e4;
  padding-left: 25px;
  position: relative;
  font-size: 22px;
  font-family: KievitSlabRegular, Times, serif;
  color: #731936;
}
h2.section_divider span {
  font-weight: normal;
  position: absolute;
  top: 50%;
  transform: translateY(-45%);
}
h3.block_header {
  color: #ff6e1e;
  font-size: 1.1em;
  font-family: VaudMedium, sans-serif;
  padding-bottom: 10px;
}
/**************** Fancy Rich Text ***************/
.fancy-rich-text {
  position: relative;
}
.fancy-rich-text .background-image-container {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -100;
}
.fancy-rich-text .background-image {
  width: 100%;
  height: auto;
}
.bg-color .rich-text {
  padding: 25px;
}
.fancy-rich-text > .rich-text > h1:first-child,
.fancy-rich-text > .rich-text > h2:first-child,
.fancy-rich-text > .rich-text > h3:first-child,
.fancy-rich-text > .rich-text > h4:first-child {
  margin-top: 0;
}
.fancy-rich-text.fixed {
  overflow: hidden;
}
.fancy-rich-text > .rich-text {
  padding-right: 25px;
}
@media (min-device-width: 480px) and (max-device-width: 768px) {
  .fancy-rich-text > .rich-text {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2em;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .fancy-rich-text > .rich-text {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
  }
}
/**************** Video Block ***************/
.video-block {
  position: relative;
}
.video-block iframe {
  display: block;
}
.video-block-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 11;
  cursor: pointer;
}
.video-block-title-background {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.video-block-title {
  color: white;
  font-family: KievitSlabRegular, Times, serif;
  font-size: 18px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  padding: 0 50px;
  width: 100%;
  text-align: center;
}
@media (max-width: 500px) {
  .block-VideoBlock .video-block iframe {
    width: 100%;
  }
}
/*************** Related Links Block ******************/
.list-group-item {
  background-color: transparent;
  border: 0;
}
.list-group-item.active {
  background-color: transparent;
  color: black;
}
.list-group-item.active:hover {
  background-color: transparent;
  color: black;
}
.related-links.bg-color-white {
  box-shadow: none;
  border: none;
  background-color: #ffffff;
}
.related-links.bg-color-white h2 {
  color: #ffffff;
  background-color: #e6e6e6;
}
.related-links.bg-color-white .list-group-item {
  border-bottom: 1px solid #ffffff;
}
.related-links.bg-color-white .list-group-item:hover {
  background-color: #e6e6e6;
}
.related-links.bg-color-white .list-group-item.active {
  color: #b3b3b3;
  background-color: #f2f2f2;
}
.related-links.bg-color-white h2 {
  color: #000000;
}
.related-links.bg-color-black {
  box-shadow: none;
  border: none;
  background-color: #000000;
}
.related-links.bg-color-black h2 {
  color: #000000;
  background-color: #1a1a1a;
}
.related-links.bg-color-black .list-group-item {
  border-bottom: 1px solid #0d0d0d;
}
.related-links.bg-color-black .list-group-item:hover {
  background-color: #1a1a1a;
}
.related-links.bg-color-black .list-group-item.active {
  color: #000000;
  background-color: #0d0d0d;
}
.related-links.bg-color-orange {
  box-shadow: none;
  border: none;
  background-color: #ff6e1e;
}
.related-links.bg-color-orange h2 {
  color: #b74100;
  background-color: #ff8f51;
}
.related-links.bg-color-orange .list-group-item {
  border-bottom: 1px solid #ff7e38;
}
.related-links.bg-color-orange .list-group-item:hover {
  background-color: #ff8f51;
}
.related-links.bg-color-orange .list-group-item.active {
  color: #ea5300;
  background-color: #ff7e38;
}
.related-links.bg-color-ltgray {
  box-shadow: none;
  border: none;
  background-color: #c8c8c8;
}
.related-links.bg-color-ltgray h2 {
  color: #fbfbfb;
  background-color: #afafaf;
}
.related-links.bg-color-ltgray .list-group-item {
  border-bottom: 1px solid #d5d5d5;
}
.related-links.bg-color-ltgray .list-group-item:hover {
  background-color: #afafaf;
}
.related-links.bg-color-ltgray .list-group-item.active {
  color: #7c7c7c;
  background-color: #bbbbbb;
}
.related-links.bg-color-midgray {
  box-shadow: none;
  border: none;
  background-color: #afafaf;
}
.related-links.bg-color-midgray h2 {
  color: #e2e2e2;
  background-color: #969696;
}
.related-links.bg-color-midgray .list-group-item {
  border-bottom: 1px solid #bcbcbc;
}
.related-links.bg-color-midgray .list-group-item:hover {
  background-color: #969696;
}
.related-links.bg-color-midgray .list-group-item.active {
  color: #636363;
  background-color: #a2a2a2;
}
.related-links.bg-color-darkergray {
  box-shadow: none;
  border: none;
  background-color: #696b73;
}
.related-links.bg-color-darkergray h2 {
  color: #38393e;
  background-color: #82848d;
}
.related-links.bg-color-darkergray .list-group-item {
  border-bottom: 1px solid #757780;
}
.related-links.bg-color-darkergray .list-group-item:hover {
  background-color: #82848d;
}
.related-links.bg-color-darkergray .list-group-item.active {
  color: #515258;
  background-color: #757780;
}
.related-links.bg-color-dkgray {
  box-shadow: none;
  border: none;
  background-color: #616265;
}
.related-links.bg-color-dkgray h2 {
  color: #2f3031;
  background-color: #7a7b7f;
}
.related-links.bg-color-dkgray .list-group-item {
  border-bottom: 1px solid #6d6f72;
}
.related-links.bg-color-dkgray .list-group-item:hover {
  background-color: #7a7b7f;
}
.related-links.bg-color-dkgray .list-group-item.active {
  color: #48494b;
  background-color: #6d6f72;
}
.related-links.bg-color-olivegreen {
  box-shadow: none;
  border: none;
  background-color: #a9b734;
}
.related-links.bg-color-olivegreen h2 {
  color: #ced978;
  background-color: #848f29;
}
.related-links.bg-color-olivegreen .list-group-item {
  border-bottom: 1px solid #b9c83d;
}
.related-links.bg-color-olivegreen .list-group-item:hover {
  background-color: #848f29;
}
.related-links.bg-color-olivegreen .list-group-item.active {
  color: #3b4012;
  background-color: #97a32e;
}
.related-links.bg-color-purple {
  box-shadow: none;
  border: none;
  background-color: #95348d;
}
.related-links.bg-color-purple h2 {
  color: #491a45;
  background-color: #bb41b1;
}
.related-links.bg-color-purple .list-group-item {
  border-bottom: 1px solid #a83b9f;
}
.related-links.bg-color-purple .list-group-item:hover {
  background-color: #bb41b1;
}
.related-links.bg-color-purple .list-group-item.active {
  color: #6f2769;
  background-color: #a83b9f;
}
.related-links.bg-color-purple h2 {
  color: #ffffff;
}
.related-links.bg-color-darkteal {
  box-shadow: none;
  border: none;
  background-color: #005e5c;
}
.related-links.bg-color-darkteal h2 {
  color: #000000;
  background-color: #00918e;
}
.related-links.bg-color-darkteal .list-group-item {
  border-bottom: 1px solid #007875;
}
.related-links.bg-color-darkteal .list-group-item:hover {
  background-color: #00918e;
}
.related-links.bg-color-darkteal .list-group-item.active {
  color: #002b2a;
  background-color: #007875;
}
.related-links,
.menu-listing {
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  border-bottom: 1px solid rgba(34, 36, 38, 0.1);
  overflow: hidden;
  position: relative;
}
.related-links h2,
.menu-listing h2 {
  padding: 12px 25px 10px 25px;
  font-size: 1.3em;
  font-family: KievitSlabRegular, Times, serif;
  margin: 0;
  background-color: #e9e7e4;
  color: #731936;
}
.related-links a,
.menu-listing a {
  color: #616265;
}
.related-links a:hover,
.menu-listing a:hover {
  color: #616265;
  text-decoration: underline;
}
.related-links.text-color-white a,
.menu-listing.text-color-white a {
  color: #ffffff;
}
.related-links.text-color-white a:hover,
.menu-listing.text-color-white a:hover {
  color: #ffffff;
  text-decoration: underline;
}
.related-links.text-color-dkgray a,
.menu-listing.text-color-dkgray a {
  color: #616265;
}
.related-links.text-color-dkgray a:hover,
.menu-listing.text-color-dkgray a:hover {
  color: #616265;
  text-decoration: underline;
}
.related-links.text-color-black a,
.menu-listing.text-color-black a {
  color: #000000;
}
.related-links.text-color-black a:hover,
.menu-listing.text-color-black a:hover {
  color: #000000;
  text-decoration: underline;
}
.related-links.text-color-dkgray.bgimage a:hover,
.menu-listing.text-color-dkgray.bgimage a:hover,
.related-links.text-color-black.bgimage a:hover,
.menu-listing.text-color-black.bgimage a:hover {
  color: #ffffff !important;
}
.related-links.bgimage h2,
.menu-listing.bgimage h2 {
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
}
.related-links.bgimage img,
.menu-listing.bgimage img {
  opacity: 0.7;
}
.related-links.bgimage .list-group-item:hover,
.menu-listing.bgimage .list-group-item:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.related-links.bgimage .list-group-item:hover a,
.menu-listing.bgimage .list-group-item:hover a,
.related-links.bgimage .list-group-item:hover a:hover,
.menu-listing.bgimage .list-group-item:hover a:hover {
  color: #ffffff !important;
}
.related-links .list-group .list-group-item,
.menu-listing .list-group .list-group-item {
  padding: 5px 25px;
  border-bottom: 1px solid #f2f2f2;
}
.related-links .list-group .background-image-container,
.menu-listing .list-group .background-image-container {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -100;
}
.related-links .list-group .background-image,
.menu-listing .list-group .background-image {
  width: 100%;
  height: auto;
}
@media (max-width: 500px) {
  .richtext-image.Small {
    width: 100%;
  }
  .richtext-image.Medium {
    width: 100%;
  }
  .richtext-image.Large {
    width: 100%;
  }
}
/*# sourceMappingURL=layouts.css.map */