@import "globals.scss";
@import "mixins.scss";

/****** Generic CSS For Similar Blocks *********/

@import "blocks/generic.scss";

/************** Column Layouts *****************/

@import "blocks/column-standard.scss";
@import "blocks/column-sidebar.scss";


/*************** Spacer Block ******************/

@import "blocks/spacer.scss";

/************* Image Gallery Blocks ************/

@import "blocks/image-gallery-gallery.scss";
@import "blocks/image-gallery-slider.scss";

/************ Image Carousel Blocks ************/

@import "blocks/image-carousel.scss";
@import "blocks/hero-image-carousel.scss";

/************** Hero Image Blocks **************/

// button bars appear overlaid on hero images
@import "blocks/action_button_bar.scss";
@import "blocks/hero_image.scss";

/************** Image Panel Blocks *************/

@import "blocks/image-panel-caption.scss";
@import "blocks/image-panel-link.scss";
@import "blocks/image-panel-cards.scss";
@import "blocks/image-panel-listing.scss";
@import "blocks/image-panel-hero.scss";
@import "blocks/image-panel-rollover.scss";

/************* Menu Listing Blocks *************/

@import "blocks/menu-listing.scss";

/**************** Section Title Blocks ***************/

@import "blocks/section-title.scss";

/**************** Text Blocks ***************/

@import "blocks/fancy-rich-text.scss";
@import "blocks/callout.scss";

/**************** Video Block ***************/

@import "blocks/video-block.scss";
@import "blocks/iframe-block.scss"; 

/*************** Related Links Block ******************/

@import "blocks/related-links.scss";

@media (max-width: $small_viewport) {
  .richtext-image {
    &.Small {
      width:100%;
    }
    &.Medium {
      width:100%;
    }
    &.Large {
      width:100%;
    }
  }
}
