// Split these out so we can change them in layouts.v6.5.css
$font-serif: Times, serif;
$font-sans-serif: Helvetica, sans-serif;
$font-sans-serif-bold: Helvetica, sans-serif;
$font-vaud: Vaud, sans-serif;

@import "common.scss";