@import "globals.scss";

/****** Generic CSS For Similar Blocks *********/

@import "blocks/generic.scss";

/************** Column Layouts *****************/

@import "blocks/column-standard.scss";
@import "blocks/column-sidebar.scss";


/*************** Spacer Block ******************/

@import "blocks/spacer.scss";

/************* Image Gallery Blocks ************/

@import "blocks/image-gallery-gallery.scss";
@import "blocks/image-gallery-slider.scss";

/************ Image Carousel Blocks ************/

@import "blocks/image-carousel.scss";
@import "blocks/hero-image-carousel.scss";

/************** Hero Image Blocks **************/

@import "blocks/hero_image.scss";

/************** Image Panel Blocks *************/

@import "blocks/image-panel.scss";
@import "blocks/image-panel-caption.scss";
@import "blocks/image-panel-link.scss";
@import "blocks/image-panel-cards.scss";
@import "blocks/image-panel-hero.scss";
@import "blocks/image-panel-rollover.scss";

/************* Menu Listing Blocks *************/

@import "blocks/menu-listing.scss";

/**************** Section Title Blocks ***************/

@import "blocks/section-title.scss";

/**************** Text Blocks ***************/

@import "blocks/fancy-rich-text.scss";
@import "blocks/callout.scss";

/**************** Video Block ***************/

@import "blocks/video-block.scss";


/*************** Related Links Block ******************/

@import "blocks/related-links.scss";

@media (max-width: $small_viewport) {
  .richtext-image {
    &.Small {
      width:100%;
    }
    &.Medium {
      width:100%;
    }
    &.Large {
      width:100%;
    }
  }
}

/*************** Image Caption ***************/
.image-details {
  line-height: 1.5;
  margin-top: 10px;
  display: block;
  color: #333;

  .image-caption {
    font-size: 12px;
    display: block;
  }

  .image-credit {
    font-size: 11px;
    font-style: italic;
    display: block;
  }
}

// For landscape-mode phones and portrait tablets:
// Note that these apply to portrait tablets because it's not "max-width: @screen-tablet - 1".
@media (min-width: $screen-phone)
        and (max-width: $screen-tablet) {
  .image-details {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: $small_viewport) {
  .image-details {
    padding-left: 10px;
    padding-right: 10px;
  }
}
