@import "globals.less";

/****** Generic CSS For Similar Blocks *********/

@import "blocks/generic.less";

/************** Column Layouts *****************/

@import "blocks/column-standard.less";
@import "blocks/column-sidebar.less";


/*************** Spacer Block ******************/

@import "blocks/spacer.less";

/************* Image Gallery Blocks ************/

@import "blocks/image-gallery-gallery.less";
@import "blocks/image-gallery-slider.less";

/************ Image Carousel Blocks ************/

@import "blocks/image-carousel.less";
@import "blocks/hero-image-carousel.less";

/************** Hero Image Blocks **************/

@import "blocks/hero_image.less";

/************** Image Panel Blocks *************/

@import "blocks/image-panel.less";
@import "blocks/image-panel-caption.less";
@import "blocks/image-panel-link.less";
@import "blocks/image-panel-cards.less";
@import "blocks/image-panel-hero.less";
@import "blocks/image-panel-rollover.less";

/************* Menu Listing Blocks *************/

@import "blocks/menu-listing.less";

/**************** Section Title Blocks ***************/

@import "blocks/section-title.less";

/**************** Fancy Rich Text ***************/

@import "blocks/fancy-rich-text.less";

/**************** Video Block ***************/

@import "blocks/video-block.less";


/*************** Related Links Block ******************/

@import "blocks/related-links.less";

@media (max-width: @small_viewport) {
  .richtext-image {
    &.Small {
      width:100%;
    }
    &.Medium {
      width:100%;
    }
    &.Large {
      width:100%;
    }
  }
}

/*************** Image Caption ***************/
.image-details {
  line-height: 1.5;
  margin-top: 10px;
  display: block;
  color: #333;

  .image-caption {
    font-size: 12px;
    display: block;
  }

  .image-credit {
    font-size: 11px;
    font-style: italic;
    display: block;
  }
}

// For landscape-mode phones:
// rrollins 2017-10-19: Except, no, because these rules apply on portrait tablets, too. However, the behavior we get
// with these rules IS what we want, even though it's applying to more than we say it should be.
@media (min-width: @screen-phone)
        and (max-width: @screen-tablet) {
  .image-details {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: @small_viewport) {
  .image-details {
    padding-left: 10px;
    padding-right: 10px;
  }
}
