.action-button-bar {
  margin-top: 2em;
}

.action-button {
  font-size: 1.2em;
  margin-right: 10px;
  border: none;

  &--btn-primary {
    background-color: $orange;
    &:hover {
      background-color: lighten($orange, 10%);
    }
    .content & {
      @include link-always-color($white);
    }
  }

  &--btn-light {
    &:hover {
      // #f8f9fa is the default color of Bootstrap's .btn-light.
      background-color: darken(#f8f9fa, 10%);
    }
    .content & {
      @include link-always-color($dkgray);
    }
  }

  // On phones, the buttons are placed below the image, instead of overlapping it, putting them on a white background.
  // This requires the color on "link" buttons to be different on portrait phones than on other size devices.
  &--btn-link {
    .content & {
      @include link-always-color($black-text);

      @include landscape-phone {
        @include link-always-color($white);
      }
    }
  }
}
