.action-button-bar {
  margin-top: 2em;
}

.action-button {
  font-size: 1.2em;
  font-family: $font_vaud;
  margin-right: 10px;

  &--btn-primary {
    background-color: $orange;
    border: none;
    &:hover {
      background-color: lighten($orange, 10%);
    }
    .content & {
      @include link-always-color($white);
    }
  }

  // On phones, the buttons are placed below the image, instead of overlapping it, putting them on a white background.
  // This requires the colors and borders on some buttons to be different on portrait phones than on other size devices.
  &--btn-default {
    background-color: $white;
    border-color: $dkgray;
    &:hover {
      background-color: darken($white, 10%);
    }
    .content & {
      @include link-always-color($dkgray);
    }

    @include landscape-phone {
      border: none;
    }
  }

  &--btn-info {
    text-decoration: underline;
    background-color: transparent;
    border: none;
    &:hover {
      text-decoration: underline;
    }
    .content & {
      @include link-always-color($black-text);
    }

    @include landscape-phone {
      .content & {
        @include link-always-color($white);
      }
      text-decoration: none;
    }
  }
}
