.captioned-image {
  img {

  }

  .image-details {
    line-height: 1.5;
    margin-top: 10px;

    .image-caption {
      font-size: 12px;
    }

    .image-credit {
      font-size: 11px;
      font-style: italic;
    }
  }
}

