.sidebar-layout {
  &__sidebar {
    height: auto;
  }

  &.right &__sidebar {
    margin-left: 25px;
  }

  &.left &__sidebar {
    margin-right: 25px;
  }

  section {
    // Give some spacing between blocks in the sidebar
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 40px;
    }
  }

  &__rich-text {
    margin: 0 10px;
  }
}

// Turn off sidebar layouts on portrait phones
@media (max-width: $screen-phone - 1) {
  .sidebar-layout {
    padding: 0;

    &__sidebar {
      width: 100% !important;
      margin: 0;
    }
  }
}

@media (min-width: $screen-phone)
        and (max-width: $desktop_viewport) {
  // Keep the text off the edges on tablets
  .sidebar-layout {
    &__rich-text {
      max-width: 800px;
    }

    &.left &__rich-text {
      margin-left: 200px;
    }
  }
}

@media (min-width: $responsive_grid_w) {
  .sidebar-layout {
    &__rich-text {
      margin-left: 0;
    }
  }
}
