.sidebar-layout {
  .sidebar {
    height: auto;
    margin-bottom: 40px;
  }

  &.right .sidebar {
    margin-left: 25px;
  }

  &.left .sidebar {
    margin-right: 25px;
  }

  &.left .rich-text {
    margin-left: 200px;
  }

  .rich-text {
    width: 800px;
  }

  section {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// For landscape-mode phones:
@media (min-device-width: @screen-phone)
        and (max-device-width: @screen-tablet) {
  .sidebar-layout > .rich-text {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2em;
    width: 100%;
  }
}

@media (max-width: @small_viewport) {
  .sidebar-layout > .rich-text {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
  }
}
