.sidebar-layout {
  .sidebar {
    height: auto;
    margin-bottom: 40px;
  }

  &.right .sidebar {
    margin-left: 25px;
  }

  &.left .sidebar {
    margin-right: 25px;
  }

  &.left .rich-text {
    margin-left: 200px;
  }

  .rich-text {
    width: 800px;
  }

  section {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// For landscape-mode phones:
// rrollins 2017-10-19: Except, no, because these rules apply on portrait tablets, too. However, the behavior we get
// with these rules IS what we want, even though it's applying to more than we say it should be.
@media (min-width: $screen-phone)
        and (max-width: $screen-tablet) {
  .sidebar-layout > .rich-text {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2em;
    width: 100%;
  }
}

@media (max-width: $small_viewport) {
  .sidebar-layout > .rich-text {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
  }
}
