.fancy-rich-text {
  position: relative;

  .background-image-container {
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: -100;
    }

    .background-image {
      width: 100%;
      height: auto;
    }
}

.bg-color .rich-text {
    padding: 25px;
}

.fancy-rich-text > .rich-text > h1:first-child,
.fancy-rich-text > .rich-text > h2:first-child,
.fancy-rich-text > .rich-text > h3:first-child,
.fancy-rich-text > .rich-text > h4:first-child {
    margin-top: 0;
}

.fancy-rich-text.fixed {
    overflow: hidden;
}

.fancy-rich-text > .rich-text {
    padding-right: 25px;
}
//
// For landscape-mode phones:
@media (min-device-width: @screen-phone) 
        and (max-device-width: @screen-tablet) {
  .fancy-rich-text > .rich-text {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2em;
    width: 100%;
  }
}

@media (max-width: @small_viewport) {
  .fancy-rich-text > .rich-text {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
  }
}

@media (min-width: @medium_viewport) {
  .fancy-rich-text > .rich-text {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2em;
    width: 100%;
  }
}
