.hero-image {
  position: relative;
  &.full-width {
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    overflow: hidden;
    @include desktop {
      .hero-image__body {
        left: 50%;
        width: $responsive_grid_w;
        margin-left: -$responsive_grid_w / 2;
      }
    }
  }
  &.white-translucent-serif &__inner {
    background-color: rgba(255, 255, 255, 0.3);
  }
  &.bare-sans-serif, &.white-translucent-sans-serif {
    font-family: $font_sans_serif;

    h1 {
      font-family: $font_sans_serif_bold;
    }
    h2, h3, h4, h5, h6 {
      font-family: $font_sans_serif;
    }
  }
  &.position-top-left &__inner {
    top: 5%;
    left: 0;
    text-align: left;
  }
  &.position-top-middle &__inner {
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  &.position-top-right &__inner {
    top: 5%;
    right: 0;
    text-align: right;
  }
  &.position-left &__inner {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: left;
  }
  &.position-middle &__inner {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
  }
  &.position-right &__inner {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    text-align: right;
  }
  &.position-bottom-left &__inner {
    bottom: 5%;
    left: 0%;
    text-align: left;
  }
  &.position-bottom-middle &__inner {
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  &.position-bottom-right &__inner {
    bottom: 5%;
    right: 0;
    text-align: right;
  }

  &__background {
    background-position: center;
  }

  &__body {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

  &__inner {
    position: absolute;
    padding: 2em;
    max-width: 60%;
  }
}

// For landscape-mode phones:
// rrollins 2017-10-19: Except, no, because these rules apply on portrait tablets, too. However, the behavior we get
// with these rules IS what we want, even though it's applying to more than we say it should be.
@media (min-width: $screen-phone)
        and (max-width: $screen-tablet) {
  .hero-image {
    height: 60vw !important;

    &__background {
      height: 60vw !important;
      background-size: auto;
    }

    &__body {
      height: 60vw !important;
      width: 100%;
      margin: 0;
      left: 0;
    }
  }
}

@media (max-width: $small_viewport) {
  .hero-image {
    width: 100%;
    height: auto !important;
    margin: 0;
    left: 0;
    right: 0;

    &__background {
      height: 60vw !important;
      background-size: auto;
    }

    &__body {
      position: static;
      height: auto !important;
      left: 0;
      margin: 0;
      width: 100%;
    }

    // On phones, push all body information below the image
    // We need to nest the hero-image__inner inside .hero-image.full-width and .hero-image.regular-width because
    // we need to overcome the specificity of selectors like .hero-image.position-left and .hero-image.white-bare-serif
    &.full-width, &.regular-width {
      .hero-image__inner {
        height: auto !important;
        max-width: 100%;
        left: 0;
        top: 0;
        position: static;
        transform: none;
        background-color: transparent;
        text-align: center;
        // except lists look weird centered.
        ol, ul {
          text-align: left;
        }
      }
    }
  }
}

// The h & p changes below us nested selectors because the html comes from user entered data wihch we can't mark up
// with extra classes.
.hero-image {
  &__body {
    font-size: 0.8em;
  }

  h1 {
    font-size: 1.8em;
    font-family: $font_serif;
  }

  h2 {
    font-size: 1.2em;
    font-family: $font_serif;
  }

  h3, h4, h5, h6 {
    font-size: 1em;
    font-family: $font_serif;
    margin-top: 0;  // .rich-text h3 has a margin top of 2em that we don't want here.
  }

  // Text in the hero_image body is black (default color) when shown below the image; white when on top of the image.
  @include landscape-phone {
    &__body {
      color: $white;
    }
  }

  @include portrait-tablet {
    &__body {
      font-size: 1em;
    }

    h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
      margin-bottom: 0;
      line-height: 1.5em;
      font-weight: normal;
    }
  }

  @include desktop {
    &__body {
      font-size: 1.3em;
    }
    h1 {
      font-size: 2.4em;
    }
    h2 {
      font-size: 1.6em;
    }
  }
}
