// These rules overrides several bootstrap components.
.hero-image-carousel {
  overflow: hidden;
  position: relative;


  .carousel-item {
    img {
      height: inherit;
    }
  }

  .carousel-item {
    &.active {
      display: block;
    }
  }

  &__text-gradient {
    @include text-gradient--bottom;
  }

  &__carousel-caption {
    position: static;
    text-align: left;
    padding: 0 10px;
    text-shadow: none;
  }

  &__carousel-indicators {
    @include carousel_indicators;
  }

  &__carousel-control-prev,
  &__carousel-control-next {
    display: none;
  }

  &__caption-title {
    font-size: #{24px / $font_size_base}em;
    font-weight: bold;
    color: $goldenrod;
    line-height: normal;

    a, a:visited {
      color: inherit;
      text-decoration: none;
    }
  }

  &__caption-text {
    font-family: Vaud, sans-serif;
    color: $black-text;
  }
}

@media (min-width: $medium_viewport) {
  .hero-image-carousel {
    &__carousel-caption {
      position: absolute;
      left: 30%;
      right: auto;
      bottom: auto;
      top: 25%;
    }

  &__text-gradient {
    @include text-gradient--right;
  }

    &__caption-title {
      font-size: 2.5em;
    }

    &__caption-text {
      font-weight: bold;
      padding-right: 3em;
      color: white;
    }
  }
}
