.image-gallery-slider {
  .carousel-control {
    display: none;
  }

  // These rules override a bunch of stuff from bootstrap.
  .carousel-indicators {
    position: static;
    width: auto;
    margin-left: 0;
    text-align: start;

    li {
      text-indent: 0;
      border-radius: 0;
      border: none;
      margin: 0;
      width: 75px;
      height: 75px;
      margin: 5px 5px 0 0;
    }
  }

  .carousel-indicators-container {
    width: 100%;
    position: relative;
    margin-top: 15px;
  }

  a:hover {
    text-decoration: none
  }

  img {
    max-width: 100%;
  }

  .image-details {
    line-height: 1.5;

    .image-caption {
      font-size: 12px;
    }

    .image-credit {
      font-size: 11px;
      font-style: italic;
    }
  }
}
