.image-carousel {
  width: 100%;
  height: 100%;
  opacity: 1;

  .item {
    transition: opacity ease-out .7s, visibility 0.7s;
    left: 0;
    opacity: 0;
    // Need opacity for the transition, and visibility to hide the inactive ones so links don't overlap.
    visibility: hidden;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    &:first-child {
      top: auto;
      opacity: 1;
      position: relative;
    }
    &.active {
      opacity:1;
      visibility: visible;
    }
  }

  .carousel-inner {
    height: 100%;

    .item {
      text-align: center;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .carousel-indicators {
    display: none;
  }

  .image-carousel-header-banner {
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 5;
    width: 100%;
    height: 42px;
  }

  .image-carousel-header {
    position: absolute;
    margin: 10px 0 10px 25px;
    font-family: @font_vaud;
    color: @white;
    font-weight: normal;
    font-size: 1.17em;
  }

  // Only display the controls when the user hovers them. And replace the gradiant background with a solid black 30%
  // opacity block.
  .carousel-control {
    background: none;
    &:hover {
      background: rgba(0, 0, 0, 0.3);

      span {
        visibility: visible;
      }
    }

    span {
      visibility: hidden;
    }
  }
}

// On phones, the images get resized to a different size, but the carousel markup still has style="height: 350px", or
// whatever, to size the block correctly for the layout its in. We must forcibly ignore that on phones because they
// ignore the specified layout and convert it into a single column flow with different sizes.
@media (max-width: @small_viewport) {
  .image-carousel {
    height: 100% !important;
  }
}
