.image-gallery-gallery {
  &__item {
    display: block;
    // Matches the default Bootstrap padding for left/right.
    padding-bottom: 12px;
  }

  // Has no effect on desktop because we build the main rendition pixel-perfect. But it's needed on phones and tablets.
  img {
    width: 100%;
    height: auto;
  }

  &__image-details {
    @include image-details;
  }
}
