.image-gallery-gallery {
  .row:not(:last-child) {
    padding-bottom: 12px;
  }

  &__gallery-item {
    display: block;
  }

  // Has no effect on desktop because we build the main rendition pixel-perfect. But it's needed on phones and tablets.
  img {
    width: 100%;
    height: auto;
  }

  &__image-details {
    @include image-details;
  }
}