.image-panel-link {
  position: relative;

  &__image-link {
    span {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 11;
      cursor: pointer;
    }
  }

  // Always size up imgs to fill their parent...
  img {
    width: 100%;
    height: auto;
  }
  // Unless it's a top-level image on a larger-than-phone device.
  &.top-level {
    @include landscape-phone {
      img {
        width: auto;
      }
    }
  }

  &__text-gradient {
    @include text-gradient--bottom;
  }

  &__title {
    @include image_title;
  }
}
