// This CSS is loosely based on https://bootsnipp.com/snippets/featured/bootstrap-4-card

// Image Cards -- bottom
.card {
  font-size: 1em;
  overflow: hidden;
  padding: 0;
  border: none;

  & img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.card-block {
  font-size: 1em;
  margin: 0;
  padding: 1em;
  border: none;
}

.card-title {
  font-size: 1.28571429em;
  font-weight: 700;
  line-height: 1.2857em;
  color: @dkgray;

  a {
    color: @dkgray;
  }
}

.card-text {
  margin-top: .5em;
  color: rgba(0, 0, 0, .68);
}

// Image Card -- left/right

.block-ImagePanelBlock {
  .media.left .media-body {
    padding-left: 10px;
  }
  .media.right .media-body {
    padding-right: 10px;
  }
  .media-body {
    h4 {
      margin-top: 10px;
      font-family: @font_kievit;
    }
  }
  .left .media-body {
    padding-left: 25px;
  }
}

// For landscape-mode phones:
@media (min-device-width: @screen-phone)
        and (max-device-width: @screen-tablet) {
  .block-ImagePanelBlock {
    .card img {
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: @small_viewport) {
  .block-ImagePanelBlock {
    .media-body {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 2em;
    }
    .media-right,
    .media-left
    {
      display: block;
      padding: 0;
      img {
        width: 100%;
        height: auto;
      }
    }

    .media-left {
      margin-bottom: 1.5em;
    }
  }
}
