// menu listing colors
@include linksbgdark(menu-listing, 'white', $white);
.menu-listing.bg-color-white h2 {
  color: $black;
}
@include linksbglight(menu-listing, 'black', $black);
.menu-listing.bg-color-black h2 {
  color: $ltgray;
}
.menu-listing.bg-color-black .list-group-item.active {
  color: $ltgray;
}
@include linksbglight(menu-listing, 'orange', $orange-accessible);
@include linksbgdark(menu-listing, 'ltgray', $ltgray);
@include linksbgdark(menu-listing, 'midgray', $midgray);
@include linksbglight(menu-listing, 'darkergray', $darkergray);
@include linksbglight(menu-listing, 'dkgray', $dkgray);
@include linksbgdark(menu-listing, 'olivegreen', $olivegreen);
@include linksbglight(menu-listing, 'purple', $purple);
.menu-listing.bg-color-purple h2 {
  color: $white;
}
@include linksbglight(menu-listing, 'darkteal', $darkteal);

// menu listings are just related links blocks with different data, so the rest of the css is in related-links.scss
