// Override the bootstrap defaults so we can set different backgrounds and colors
.list-group-item {
  background-color: transparent;
  border: 0;
  &.active {
    background-color: transparent;
    color: $black;
    &:hover {
      background-color: transparent;
      color: $black;
    }
  }
}

// related link colors
@include linksbgdark(related-links, 'white', $white);
.related-links.bg-color-white h2 {
  color: $black;
}
@include linksbglight(related-links, 'black', $black);
.related-links.bg-color-black h2 {
  color: $ltgray;
}
@include linksbglight(related-links, 'orange', $orange);
@include linksbgdark(related-links, 'ltgray', $ltgray);
@include linksbgdark(related-links, 'midgray', $midgray);
@include linksbglight(related-links, 'darkergray', $darkergray);
@include linksbglight(related-links, 'dkgray', $dkgray);
@include linksbgdark(related-links, 'olivegreen', $olivegreen);
@include linksbglight(related-links, 'purple', $purple);
.related-links.bg-color-purple h2 {
  color: $white;
}
@include linksbglight(related-links, 'darkteal', $darkteal);

.related-links,
.menu-listing {
  border: 1px solid rgba(34, 36, 38, .1);
  position: relative;
  min-height: fit-content;
  max-width: 100%;
  @include portrait-phone-only {
    // On phones, we are going to just make these menu blocks fill screen width and be as tall as they need to be.
    width: 100% !important;
    height: fit-content !important;
  }

  .list-group {
    .list-group-item {
      padding: 5px 25px;
      border-bottom: 1px solid darken($white, 5%);
    }
  }

  h2 {
    padding: 12px 25px 10px 25px;
    font-size: 1.3em;
    font-family: $font_kievit_regular;
    margin: 0;
    background-color: $ltbrngray;
    color: $crimson;
  }

  a.list-group-item,
  span.list-group-item {
    color: $dkgray;
    &:hover {
      color: $dkgray;
      text-decoration: underline;
    }
  }

  &.text-color-white a, a:hover {
    color: $white;
  }

  &.text-color-dkgray a, a:hover {
    color: $dkgray;
  }

  &.text-color-black a, a:hover {
    color: $black;
  }

  &.text-color-dkgray.bgimage a:hover,
  &.text-color-black.bgimage a:hover {
     color: $white !important;
  }

  &.bgimage {
    h2 {
      background-color: rgba(0, 0, 0, 0.7);
      color: $white;
    }

    a.list-group-item:hover {
      background-color: rgba(0, 0, 0, 0.8);
      color: $white !important;
    }
  }
}
