.section-header {
  position: relative;
  height: 50px;
  padding-left: 10px;
  margin-top: 20px;
  font-size: 1.2em;
  font-family: $font-serif;
  color: $crimson;
  background-color: $ltbrngray;

  @include desktop {
    padding-left: 25px;
    font-size: 1.6em;
  }

  &__text {
    position: absolute;
    font-weight: normal;
    top: 50%;
    transform: translateY(-45%);
  }
}

.block-header {
  color: $orange-accessible;
  font-size: 1.1em;
  font-family: $font-sans-serif-bold;
  padding: 0 10px 10px;
  margin-top: 20px;

  @include desktop {
    padding: 0 0 10px;
  }
}

// Remove the top margin from both types of SectionTitleBlocks if they're the first element in a column/sidebar.
.grid-item, .sidebar-layout__sidebar {
  .block-SectionTitleBlock:first-child {
    .section-header, .block-header {
      margin-top: 0;
    }
  }
}
