// Taken from the www styling
h2.section_divider {
  height: 50px;
  background-color: @ltbrngray;
  padding-left: 25px;
  position: relative;
  font-size: 22px;
  font-family: @font_kievit_regular;
  color: @crimson;

  span {
    font-weight: normal;
    position: absolute;
    top: 50%;
    transform: translateY(-45%);
  }
}

h3.block_header {
  color: @orange;
  font-size: 1.1em;
  font-family: @font_vaud_medium;
  padding-bottom: 10px;
}
