{% load wagtailcore_tags wagtailimages_tags core_tags util_tags %}
<div class="row">
  <div class="col-md-12 sidebar-layout">
    {% width_from_arbitrary_parent 1000 self.sidebar_width as my_width %}
    <div class="sidebar" style="width:{{ my_width }}px;
                                float: {{ self.sidebar_alignment }};">
      {% for block in self.sidebar %}
      <section class="block-{{ block.block_type }}">
        {% include_block block with parent_width=my_width parent_height=self.fixed_height %}
      </section>
      {% endfor %}
    </div>
    {{ self.text|richtext }}
  </div>
</div>

<div class="clearall"></div>
